@import "../../css/base.css";
@import "../../css/style.css";

.login-container{
    min-height: calc(100vh - 70px);
    background-color: #dff5f4;

    display:flex;
    justify-content:center;
    align-items:center;
}

.login-card{
    width:450px;

    display:flex;
    flex-direction:column;
    gap:20px;

    background:white;
    padding:40px;
    border-radius:16px;
    box-shadow: var(--sombra);
}

.login-card h1{
    text-align:center;
    color: var(--color-dark);
    margin-bottom:20px;
}

.input-group{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.input-group label{
    color: var(--color-primary);
    font-weight:600;
}

.input-group input{
    padding:16px;
    border-radius:12px;
    border:2px solid var(--color-primary);
    outline:none;
}

.forgot-password{
    text-align:right;
}

.forgot-password a{
    color: var(--color-dark);
    font-size:14px;
}

.login-btn{
    border:none;
    cursor:pointer;

    background-color: var(--color-primary);

    padding:15px;

    border-radius:12px;

    font-weight:700;

    color: var(--color-dark);
}

.login-btn:hover{
    background-color: var(--rojo-oscuro);
}

#errorMessage{
    text-align:center;
    color:red;
    font-size:14px;
}