<header class="landing-header">

    <div class="header-brand">
        <img src="../../images/logo-conectared.png"
             alt="Logo ConectaRed"
             class="logo">

        <span class="logo-text">
            Conecta<span class="logo-highlight">Red</span>
        </span>
    </div>

    <nav class="header-nav">
        <a href="#seccion-hero" class="nav-link">Inicio</a>
        <a href="#seccion-mentores" class="nav-link">Mentores</a>
        <a href="#seccion-recursos-educativos" class="nav-link">Recursos</a>
    </nav>

    <div class="header-actions">
        <a href="/pages/login/login.html" class="btn-login">
            Iniciar sesión
        </a>

        <a href="pages/auth/register.html" class="btn-unete">
            Únete
        </a>
    </div>

</header>